---
const { url } = Astro.props;
// Default post if none is passed
const embedUrl = url || "https://www.instagram.com/tzurcombatarts/";
const profileHandle = embedUrl.split("instagram.com/")[1].replace("/", "");
---

<div class="w-full flex flex-col justify-center items-center">
   <a
  href={`https://www.instagram.com/${profileHandle}`}
  target="_blank"
  rel="noopener noreferrer"
  class="flex items-center justify-center mb-2 w-[81px] h-[32px] rounded bg-[#4A5DF9] text-white text-sm font-semibold hover:bg-[#4150F7] transition"
  >
    Follow
  </a>
  <blockquote 
    class="instagram-media"
    data-instgrm-permalink={embedUrl}
    data-instgrm-version="14"
    style="background:#fff; border:0; max-width:540px; width:100%;"
  >
  </blockquote>
</div>

<script async src="//www.instagram.com/embed.js"></script>